<div id="banner">
  <div class="banner_content">
    <h1>Online NotePad</h1>
    <p>Keep Your Thoughts Together</p>
    <button><%= link_to "Sign Up", new_user_registration_path %></button>
  </div>
</div>

<div id="quote">
  <p>"The Internet is just a world passing around notes in a classroom."</p>
  <p>- by Jon Stewart</p>
</div>

<div id="callouts">
<div class="callout_inner">
<div class="callout">
  <h2>Notes</h2>
  <p>ll the blinking in one day equates to having your eyes closed for 30 minutes.</p>
</div>
</div>

<div class="callout_inner">
<div class="callout">
  <h2>Notes</h2>
  <p>ll the blinking in one day equates to having your eyes closed for 30 minutes.</p>
</div>
</div>

<div class="callout_inner">
<div class="callout">
  <h2>Notes</h2>
  <p>ll the blinking in one day equates to having your eyes closed for 30 minutes.</p>
</div>
</div>

</div>
