.navbar-default {
  height: 80px;

}
.nav_buttons {
float: right;
padding: 10px;
font-weight: bold;
}

.image {
width: 90px;
height: 90px;
background-color: inherit;
float: left;
padding-top: 10px;
}

.notice {
  margin: 0px;
  padding: 0px;
}

.alert {
  margin: 0px;
  padding: 0px;
}

.navbar-default {
  margin: 0px;
  padding: 0px;
}

.form-inputs {
  font-size: 15px;
}
